<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.first.dicoquizz" >

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application
        android:debuggable="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.DicoQuizz"
        tools:ignore="HardcodedDebugMode" >
        <activity
            android:name=".activity.FriendListActivity"
            android:exported="false"
            android:label="@string/title_activity_friend_list"
            android:theme="@style/Theme.DicoQuizz.NoActionBar" >
        <intent-filter>
            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
        </activity>
        <activity
            android:name=".activity.ConnectionActivity"
            android:exported="true"
            android:theme="@style/Theme.DicoQuizz.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.CreateAccountActivity"
            android:exported="true"
            android:theme="@style/Theme.DicoQuizz.NoActionBar" >
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.WordListActivity"
            android:exported="false"
            android:theme="@style/Theme.DicoQuizz.NoActionBar" >
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.AddWordActivity"
            android:exported="false"
            android:theme="@style/Theme.DicoQuizz.NoActionBar" >
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.HomeActivity"
            android:exported="false"
            android:theme="@style/Theme.DicoQuizz.NoActionBar" >
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>